<div class="d-flex justify-content-center">
    <div class=" me-5">
        <div class="form-outline mb-3">
            <input type="text" id="form2Example1" class="form-control border border-black" placeholder="Nama" />

        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
            <input type="email" id="form2Example2" class="form-control border border-black" placeholder="Email" />

        </div>
        <div class="form-outline">
            <input type="number" id="form2Example1" class="form-control border border-black" placeholder="No Telephone" />

        </div>

    </div>
    <div class=" ms-3">
        <!-- Password input -->
        <div class="form-outline mb-3">
            <input type="text" id="form2Example2" class="form-control border border-black" placeholder="Asal desa" />

        </div>
        <div class="form-outline mb-3">
            <input type="password" id="form2Example1" class="form-control border border-black" placeholder="Password" />

        </div>

        <!-- Password input -->
        <div class="form-outline">
            <input type="password" id="form2Example2" class="form-control border border-black" placeholder="Konfirmasi Password" />

        </div>
    </div>
</div>