@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.nav-adesa{
    font-family: 'Baloo Bhai';font-size: 22px;
}
.bg-body-blues{
    background-color: #1C6190;
}
.btn-blues{
    background-color: #1C6190;
}
.btn-blues:hover{
    background-color: #0f4e79;
}
.link-home{
    text-decoration: underline;
    text-decoration-color: #FFEC45; 
}

.navbar-nav{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.container-card{
    background-color: #E8E8E86B;
}
/* .card-title{
 
    background-color: #1C6190;
} */

.btn-yellow{
    background-color: #FFEC45;
}
.table-blue{
    --bs-table-color:#000;
    --bs-table-bg:#cfe2ff;
    --bs-table-border-color:#bacbe6;
    --bs-table-striped-bg:#c5d7f2;
    --bs-table-striped-color:#000;
    --bs-table-active-bg:#bacbe6;
    --bs-table-active-color:#000;
    --bs-table-hover-bg:#bfd1ec;
    --bs-table-hover-color:#000;
    color:var(--bs-table-color);
    border-color:var(--bs-table-border-color)
}
.btn-green{
    background-color: #92FA00;
}
.btn-green:hover{
    background-color: #a2ff20;
}